<form [formGroup]="profileForm" (ngSubmit)="registerMe()" fxLayout="column row" fxLayoutGap="2vw">

  <mat-form-field *ngIf="registrationForm">
    <input type="text" placeholder="Your name" [(ngModel)]="regForm.name" matInput required>
    <mat-hint>Your official name</mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="registrationForm">
    <input type="email" placeholder="Your email" [(ngModel)]="regForm.email" matInput required>
    <mat-hint>Your email</mat-hint>
    <mat-error *ngIf="">
      Must be a valid email
    </mat-error>
  </mat-form-field>

  <div>

    <mat-form-field *ngIf="registrationForm">
      <input type="password" placeholder="Create password" [(ngModel)]="regForm.password" matInput required password>
    </mat-form-field>
    <div>
      <mat-list>Your password must:
        <ul>
          <li>
            have at least 8 characters
          </li>
          <li>
            use both uppercase and lowercase letters
          </li>
          <li>
            include one or more numerical digits
          </li>
          <li>
            include one of these special characters @, #, $
          </li>

        </ul>
      </mat-list>
    </div>
    <mat-error *ngIf="password">
      Must be a valid password
    </mat-error>

  </div>

  <mat-form-field fxLayout="row column" fxLayoutAlign="space-between">
    <input type="radio" formControlName="gender" value="Yes">Male
    <input type="radio" formControlName="gender" value="No">Female
  </mat-form-field>

  <mat-form-field>
    <input formControlName="dob" placeholder="Date of Birth" ngModel matInput [matDatepicker]="dob">

    <mat-datepicker-toggle matSuffix [for]="dob">
    </mat-datepicker-toggle>

    <mat-datepicker dob></mat-datepicker>
  </mat-form-field>


  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
    <button type="reset" mat-button mat-raised-button color="primary">
      Clear
    </button>
    <button type="submit" mat-button mat-raised-button color="primary" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

<p>
  Form Status: {{ profileForm.status }}
</p>