

<form [formGroup]="registrationForm" (ngSubmit)="registerMe()" 
*ngIf="registrationForm" fxLayout="column row" fxLayoutGap="2vw">

  <mat-form-field>
    <input type="text" placeholder="Your name" formControlName="name" matInput required>
    <mat-hint>Your official name</mat-hint>
    
  </mat-form-field>

  <mat-form-field >
    <input type="email" placeholder="Your email" formControlName="email" matInput required email>
    <mat-hint>Your email</mat-hint>
    <mat-error *ngIf="">
      Must be a valid email
    </mat-error>
  </mat-form-field>

  <div>

    <mat-form-field fxLayout="column row">
      <input type="password" placeholder="Create password" formControlName="password"  matInput required password>
    </mat-form-field>
   
    <div>
      <mat-list>Your password must:
        <ul>
          <li>
            have at least 8 characters
          </li>
          <li>
            use both uppercase and lowercase letters
          </li>
          <li>
            include one or more numerical digits
          </li>
          <li>
            include one of these special characters @, #, $
          </li>

        </ul>
      </mat-list>
    </div>
    

  </div>

  <mat-radio-group>
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
  </mat-radio-group>


  <mat-form-field >Date of Birth:
    <input type="date" formControlName="dob" placeholder="Date of Birth" ngModel matInput [matDatepicker]="dob">

    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>

    <mat-datepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="registrationForm" fxLayout="column row">
    <input type="text" placeholder="Address" formControlName="address" matInput>
  </mat-form-field>

  <mat-form-field *ngIf="registrationForm">
    <input type="text" placeholder="Country" formControlName="country" matInput>
  </mat-form-field>

  <mat-form-field *ngIf="registrationForm">
    <input type="number" placeholder="Contact" formControlName="contact" matInput>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
    <button type="reset" mat-button mat-raised-button color="primary">
      Clear
    </button>
    <button type="submit" mat-button mat-raised-button color="primary" [disabled]="!registrationForm.valid">Submit</button>
  </div>
</form>

<p>
  Form Status: {{ registrationForm.status }}
</p>